:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #333333;
  --gray: #C0C0C0;
  --darkgray: #141414;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --highlight: #6749d7;
  --title: #856fd7;
}





:root {
  --color1: #7854be;
  --color2: #1f3fb6;
  --color3: #851095;
  --color4: #5d85ca;
  --color5: #333d49;
  --color6: #27106f;
  --wingrey: #bbc3c4;
}

html {
  background-image: linear-gradient(var(--red), var(--darkred));
}

.window {
  user-select: none;
  display: none
}

.taskbar {
  position: fixed;
  background-color: var(--wingrey);
  bottom: 0px;
  left: 0px;
  height:  40px;
  width: 100%;
  max-width: 100%;
  z-index: 10;
  box-shadow:  0px -1px 0px var(--white);
  padding: 2px 0px;
  display: none;
}

.is-active {
  display:  block;
}