
    <table class="table">
      <thead>
          <tr>
            <th>Date</th>
            <th>Video</th>
            <th>Thumbnail</th>
            <th>Annouce Title</th>
            <th>Annouce URL</th>
          </tr>
        </thead>
        <tbody>
          {% for vod in vodslist | reverse %}
          <tr>
            <td>{{ vod.data.date | htmlDateString }}</td>
            

            <td>
              {% if vod.data.videoSrcHash %}
                <a href="{% buildIpfsUrl vod.data.videoSrcHash %}">video</a>
              {% else %}
                <a href="{{ vod.data.videoSrc }}">video</a>
              {% endif %}
            </td>


            <td>
              {% if vod.data.thiccHash %}
                <a href="{% buildIpfsUrl vod.data.thiccHash %}">thumbnail</a>
              {% else %}
                <p>none</p>
              {% endif %}
              </td>



            <td>{{ vod.data.announceTitle }}</td>
            <td><a href="{{ vod.data.announceUrl }}">announce</a></td>
          </tr>
          {% endfor %}
        </tbody>

    </table>