---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ metadata.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for post in collections.vods | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{% if post.data.announceTitle %}{{ post.data.announceTitle }}{% else %}{{ post.data.title }}{% endif %}",
      "videoSrcHash": {% if post.data.videoSrcHash %}"{{ post.data.videoSrcHash }}"{% else %}""{% endif %},
      {% if post.data.video360Hash %}"video360Hash": "{{ post.data.video360Hash }}",{% endif %}
      "date_published": "{{ post.data.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
