---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Futureporn is shutting down</h1>

See <a href="https://twitter.com/cj_crispy/status/1396269457304031234">https://twitter.com/cj_crispy/status/1396269457304031234</a>


<h1>Latest VODs</h1>

{% set vodslist = collections.vods %}
{% set vodslistCounter = collections.vods | length %}
{% include "vodslist.njk" %}
