---json
{
  "permalink": "feed.json",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "🔞💦 Future Porn",
    "subtitle": "3D porno for futurist perverts everywhere.",
    "url": "https://futureporn.neocities.org/",
    "feedUrl": "https://futureporn.neocities.org/feed.json",
    "author": {
      "name": "Chris Grimmett",
      "url": "https://grimtech.com/about"
    }
  }
}
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ metadata.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.feedUrl }}",
  "description": "{{ metadata.subtitle }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for post in vods | reverse %}
    {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}"ipfs://{{ post.videoHash }}"{% endif %},
      "date_published": "{{ post.date }}"
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
